<div class="wrapper">
	<canvas></canvas>
	<div class="toolbar">
		<p>Color</p>
		<div id="colors">
			<div id="black"></div>
			<div id="white"></div>
			<div id="red"></div>
			<div id="blue"></div>
		</div>
		<!--p>Stroke</p>
		<div id="stroke">			
		</div-->
	</div>
</div>
<script src="/javascripts/app.js"></script>