<div class="wrapper">
	<canvas></canvas>
	<div class="toolbar">
		<div class="tool">
			<p class="tool-title">Color</p>
			<div id="colors">
				<div id="black"></div>
				<div id="red"></div>
				<div id="green"></div>
				<div id="blue"></div>
				<div id="white"></div>
			</div>		
		</div>
		<div class="tool">
			<p class="tool-title">Stroke</p>
			<div id="stroke">
				<div id="stroke-display"></div>
			</div>
		</div>
	</div>
	<div class="credit">
		<p>Made by <a href="fb.com/linkin.kuun">Thang Nguyen</a></p>
	</div>
</div>
<div id="overlap">
	<div class="loading">
		<img src="/images/loading.gif" alt="loading">
	</div>
</div>
<script src="/javascripts/app.js"></script>