<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta type="description" content="practicing how to work with socket.io">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
