body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: grey;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

a {
  color: #00B7FF;
}

.wrapper {
	position: relative;
}

.toolbar {
	/*background: rgba(20, 20, 20, .5);*/
	border-radius: 10px;
	position: fixed;
	top: 20px;
	right: 10px;
	/*padding: 10px;*/
}

.toolbar .tool {
	margin-bottom: 5px;
}

.toolbar .tool-title {
	text-align: center;
	color: black;
}

#colors > div {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin: 10px;
	border: 1px solid silver;
	cursor: pointer;
}

#black {
	background: black;
}

#white {
	background: white;
}

#blue {
	background: blue;
}

#red {
	background: red;
}

#green {
	background: green;
}

#stroke {
	width: 30px;
	height: 30px;
	margin: 0 auto;
	text-align: center;
	cursor: n-resize;
}

#stroke-display {
	width: 10px;
	height: 10px;
	margin: 0 auto;
	background: black;
	border: 1px solid silver;
	border-radius: 50%;
}

canvas {
	background: white;
	cursor: crosshair;
}

#overlap {
	position: absolute;
	z-index: 9;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .9);
}

.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	width: 100px;
}

.loading img {
	max-width: 100%;
	height: auto;
}

.credit {
	position: absolute;
	right: 0;
	bottom: 0;
	color: #333;
	padding: 0 10px;
}